:root{
    /* CSS HEX Humble Pallette
    - use via: cssProperty: var(--jet)
    */
    --apple-green: #8EA940ff;
    --raisin-black: #252830ff;
    --eerie-black: #191B19ff;
    --jet: #2A2B29ff;
    --french-gray: #D0D3D9ff;
    --onyx: #363942ff;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

/* for dev purposes to display flex areas */
.ctn{
    background-color: 1px solid black
    
}